---
- name: Creating guacamole configuration directory
  file:
    path: /etc/guacamole
    state: directory
  become: true

- name: Symlinking guacamole configuration directory
  file:
    src: /etc/guacamole
    dest: /usr/share/tomcat{{ tomcat_version }}/.guacamole
    state: link
  become: true

- name: Creating guacamole lib directory
  file:
    path: /etc/guacamole/lib
    state: directory
  become: true

- name: Creating guacamole extensions directory
  file:
    path: /etc/guacamole/extensions
    state: directory
  become: true

- name: Block for non debian 13 hosts
  when: 
    - ansible_distribution != 'Debian'
    - ansible_distribution_version != '13'
  block:
    - name: Retrieving mysql-connector-java-{{ mysql_java_client_version }}.tar.gz
      ansible.builtin.command: wget -P /tmp/ https://dev.mysql.com/get/Downloads/Connector-J/mysql-connector-java-{{ mysql_java_client_version }}.tar.gz
      become: true

    - name: Unarchiving mysql-connector-java-{{ mysql_java_client_version }}.tar.gz
      unarchive:
        src: /tmp/mysql-connector-java-{{ mysql_java_client_version }}.tar.gz
        dest: /tmp/
        copy: no

    - name: Copying mysql-connector-java-{{ mysql_java_client_version }}-bin.jar
      copy:
        src: /tmp/mysql-connector-java-{{ mysql_java_client_version }}/mysql-connector-java-{{ mysql_java_client_version }}-bin.jar
        dest: /etc/guacamole/lib/
        remote_src: yes
      become: true

- name: Block for debian 13 hosts
  when: 
    - ansible_distribution == 'Debian'
    - ansible_distribution_version == '13'
  block:
    - name: Retrieving mysql-connector-java-{{ mysql_java_client_version }}.tar.gz
      ansible.builtin.command: wget -P /tmp/ {{ mysql_java_client_link }}
      become: true

    - name: Install mysql-connector-j
      apt:
        deb: /tmp/mysql-connector-j_9.6.0-1debian13_all.deb
      become: true

    - name: Copy MYSQL java client to guac dir
      copy:
        src: /usr/share/java/mysql-connector-j-9.6.0.jar
        dest: /etc/guacamole/lib/
        remote_src: yes
      become: true

- name: Retrieving guacamole-auth-jdbc-{{ guacamole_version }}
  get_url:
    url: http://apache.org/dyn/closer.cgi?action=download&filename=guacamole/{{ guacamole_version }}/binary/guacamole-auth-jdbc-{{ guacamole_version }}.tar.gz
    dest: /tmp/

- name: Unarchiving guacamole-auth-jdbc-{{ guacamole_version }}
  unarchive:
    src: /tmp/guacamole-auth-jdbc-{{ guacamole_version }}.tar.gz
    dest: /tmp/
    copy: no

- name: Copying guacamole-auth-jdbc-mysql-{{ guacamole_version }}.jar
  copy:
    src: /tmp/guacamole-auth-jdbc-{{ guacamole_version }}/mysql/guacamole-auth-jdbc-mysql-{{ guacamole_version }}.jar
    dest: /etc/guacamole/extensions/
    remote_src: yes
  become: true
