---
- name: Install dependency packages
  become: yes
  package:
    name: "{{ guacamole_apt_install }}"
    state: present

- name: Include debian 13 vars if debian 13
  when: 
    - ansible_distribution == 'Debian'
    - ansible_distribution_version == '13'
  ansible.builtin.include_vars: "{{ ansible_distribution | lower }}-{{ ansible_distribution_version }}.yml"

- include_tasks: install_guacamole_client.yml

- include_tasks: install_guacamole_mysql_authentication.yml

- include_tasks: duo_2fa_auth.yml
  when: duo_2fa_enable is defined and duo_2fa_enable == true

- include_tasks: saml_auth.yml
  when: saml_auth_enable is defined and saml_auth_enable == true

- include_tasks: ldap_auth.yml
  when: ldap_auth_enable is defined and ldap_auth_enable == true

- include_tasks: totp_2fa_auth.yml
  when: totp_2fa_enable is defined and totp_2fa_enable == true

- include_tasks: configure_guacamole.yml
